img {
   object-fit: cover;
   border-radius: 50%;
}

ul {
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin: 24px 0;

}

li {
   display: flex;
   align-items: center;
   gap: 12px;
}

li p {
   color: #64748d;
}

li h3 {
   font-weight: 500
}

li div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin-right: auto;
}